*{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px 68px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(7, 0, 0);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: block;
    color: white;
}

form{
    color: white;
    margin: 100px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
       fieldset{
        border-radius: 16px;
        display: flex;
        flex-direction: column;
          #svg{
            color: red;
            text-transform: lowercase;
            font-size: 0.8125rem;
           }
       }
       .botao{
        display: block;
        height: 40px;
        padding: 0 26px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        float: right;
        color: white;
        background-color: red;
        word-spacing: normal;
       }
       .codigo{
        display: block;
        height: 40px;
        padding: 0 26px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        float: right;
        color: white;
        background-color: gray;
       }
}